---
---
/*
Here you can override the default CSS styles of this theme. Make sure to put all overrides BEFORE the @import "main" line.
Full list of variables for CSS style overrides can be found here :
http://versions.bulma.io/0.7.0/documentation/overview/variables/
*/

/*font used */
$family-primary: 'Muli', sans-serif;

/* primary color used within site*/
//$primary: white;

// OpenZaak Blue
$primary: #3e9ce9;

/* Remove border from text input */
input, select, textarea {
    margin: 0;
    border: 0px none;
}

// Import Main CSS file from theme
@import "main";
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700');
